.widget-container {
  height: 100%;
  display: flex;
  gap: 80px;
  background-color: #f5f5f5; // bg-zinc-100
  &.dark {
    background-color: #1a202c; // bg-zinc-900
  }
}

.widget-box {
  background-color: white; // bg-white
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem; // rounded-lg
  padding: 1rem;
  max-width: 24rem;
  width: 100%;
  &.dark {
    background-color: #2d3748;
  }
  .back-button {
    font-size: 2.25rem;
    &.dark {
      color: white;
    }
  }
  .header {
    display: flex;
    justify-content: center;
    align-items: center;

    .title {
      color: #4a5568;
      font-size: 2.25rem;
      &.dark {
        color: #a0aec0;
      }
    }
  }

  .welcome-text {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: #2d3748;
    margin-top: 0;
    &.dark {
      color: #e2e8f0;
    }
  }

  .input-group {
    margin-bottom: 1rem;

    .label {
      display: block;
      color: #4a5568;
      margin-bottom: 0.5rem;
      &.dark {
        color: #a0aec0;
      }
    }

    .input {
      width: 90%;
      padding: 0.5rem 0.75rem;
      border: 1px solid #e2e8f0;
      border-radius: 0.5rem;
      outline: none;
      &:focus {
        border-color: #4299e1;
        box-shadow: 0 0 0 2px rgba(66, 153, 225, 0.5);
      }
      &.dark {
        background-color: #4a5568;
        border-color: #718096;
        color: #e2e8f0;
      }
    }
  }

  .login-button,
  .trial-button {
    width: 100%;
    background-color: #f90303;
    color: white;
    padding: 0.5rem 0;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    text-align: center;
    height: 3.25rem;
  }

  .forgot-password {
    text-align: center;

    .link {
      color: #4299e1;
      &.dark {
        color: #63b3ed;
      }
    }
  }

  .register {
    text-align: center;
    margin-top: 1.5rem;

    .register-text {
      color: #4a5568;
      &.dark {
        color: #a0aec0;
      }
    }

    .link {
      color: #4299e1;
      &.dark {
        color: #63b3ed;
      }
    }
  }

  .hasU {
    text-align: center;
    color: red;
  }
}

//吱吱吱吱吱吱吱吱
