.fh {
  background-color: #fff;

  span {
    padding-left: 0.525rem;
    font-size: 1.375rem;
  }
}
.title {
  background-color: #fff;
  padding: 20px;
  margin: 0;
  text-align: center;
}

.dingd {
  background-color: #fff;
}
